
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

header h1 {
  text-align: center;
  margin: 20px 0;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  color: #4CAF50;
  
}

main {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 60%;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  color: #555;
}
